/* Menu smartphone */
#menuButtom {
  background-color: rgb(50, 120, 180);
  height: 3em;
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

#menuButtom div {
  background-color: white;
  width: 15px;
  height: 2px;
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Menu desktop */
#menuLista {
  background-color: rgb(50, 120, 180);
  color: white;
  height: 3em;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.menuItem {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.menuItem:hover {
  background-color: rgb(100, 170, 230);
  cursor: pointer;
}

.menuItem.ativo {
  color: rgb(170, 240, 300);
}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 10pt;
}

a:link, a:visited {
  color: blue;
}

/* Responsividade */
@media(max-width: 400px) {
    #menuNav {
        margin-bottom: 1rem;
    }
    
    #menuButtom {
        display: flex;
        margin-bottom: 0;
    }

    #menuLista {
        flex-direction: column;
        position: absolute;
        left: 0;
        border-radius: 0px;
        margin-top: 0;
        width: 100px;
        height: 7rem;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    #menuLista.ativo {
        transition: 0.5s;
        transform: translateX(0);
    }

    .menuItem {
        flex-direction: row;
        justify-content: left;
        padding-left: 15px;
    }

    body {
        margin: 0;
    }

    section {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .article {
        width: 100%;
    }
}
